.coursesDiv{
    width:100%;
    background-color:lightpink;
}
.courseli{
    list-style: none;
    width:15%;
    height:100px;
    background-color: white;
    display:inline-flex;
    margin:5px;
}
.licontent{
    padding: 10% 0% 0% 20%;
    font-size:18px;
}
