<section>
    <div class="container">
      <h1 class="title">Quote of The Day</h1>
      <div class="columns">
        <div class="column content">
          <blockquote>{{myQuote.quote}}</blockquote>
          <small>- {{myQuote.by}}</small>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="container">
      <h1 class="title">Favourites</h1>
      <div class="columns">
        <app-child *ngFor="let item of favourites" [quote]="item"></app-child>
      </div>
    </div>
  </section>

  <button (click)="alertPopup('This is event binding')"  >Popup</button>

  <ng-template #tochild>
    <div>
      From Parent
    </div>
  </ng-template>